@media screen and (max-width: 400px) {
	body {
		overflow-x: scroll;
		overflow-y: scroll;
	}
}

body {
	overflow-x: hidden;
    font-family: "Alegreya Sans";
}

#header {
    font-family: "Alegreya Sans";
	position: relative;
	text-align: center;
	height: 15em;
	width: 100%;
	letter-spacing: 0.2em;
	/*background-color: #1D4E8D;*/
	overflow: hidden;

}
#header a {
	position: relative;
	z-index: 2;
	color: #1D4E8D;
	font-size: 4em;
	line-height: 4em;
	text-decoration: none;
}

#header-pic {
	position: absolute;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 0;
	width: auto;
	height: auto;
	opacity: 0.3;
	overflow: hidden;
	/*border: 1px solid white;*/
	/*box-shadow: 10px 20px 30px rgba(0,0,0,.5);*/
}

.text {
	text-align: center;
	width: 100%;
}

#tabs li a {
	color: #1D4E8D;
	background-color: transparent;
}

.tab-content {
	float: left;
	position: relative;
	left: 50%;
}

.tab-content div {
	float: left;
	position: relative;
	left: -50%;
}

.tab-content h3 {	
	text-align: center;
}

.tab-content p {
	font-family: "Roboto Slab";
	text-align: left;
	font-size: 1em;
	line-height: 2em;
	margin-right: 25%;
	margin-left: 25%;
}

#intro {
	padding-top: 3em;
}


#champs {
	position: relative;
	display: block;
	border-radius: 1em;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	height: 40%;
	width: 40%;
	opacity: 0.8;
}

#captains {
	opacity: 0.8;
	margin-top: 3em;
	border-radius: 1em;
	display: block;
	height: 25%;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

#menu1 h2, #menu2 h2, #menu3 h2{
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
	color: #1D4E8D;
	font-family: "Alegreya Sans";
}

#faq {
	margin-top: 2em !important;
	margin-bottom: 2em !important;
}

#calendar-container {
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#menu2 li {
	list-style: none;
	font-family: "Alegreya Sans";
	font-size: 1.25em;
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}
#firstq {
	margin-top: 0em !important;
}
#menu2 p {
	font-size: 0.75em;
}
.follow {
	text-decoration: underline;
	color: #1D4E8D;
	font-family: "Alegreya Sans";
}
.contact {
	text-align: center;
	margin-top: 2em !important;
	margin-bottom: 0em !important;
	color: #1D4E8D;
	font-family: "Alegreya Sans";
}
#links {
	margin: 0 auto;
	float: none !important;
	text-align: center;
	width: 100%;
}
.draws {
	display: inline-block;
	font-size: 1.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: 2px solid #1D4E8D;
	color: #1D4E8D;
	text-decoration: none !important;
	margin-right: 0.25em;
	margin-left: 0.25em;
}
#venmo {
	display: block;
	font-size: 3em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin-top: 1.5em;
	border: 2px solid #1D4E8D;
	color: #1D4E8D;
	text-decoration: none;
}

